body {
  font-family: "Special Elite", cursive;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.navbar {
  padding: 1rem 0;
}

.navbar-brand {
  font-size: 1.5rem;
  margin-left: 30px;
}
button.navbar-toggler {
  margin-right: 30px;
}

.navbar-nav .nav-item {
  margin: 0 0.5rem;
}

.navbar-nav .nav-link {
  font-size: 1rem;
  color: #333;
  transition: color 0.3s;
}

.navbar-nav .nav-link:hover {
  color: #17a2b8;
}

.nombre {
  margin-bottom: 10px;
}

h1 {
  font-size: 50px;
}

h2.titulo {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  background-color: #f0f0f0 !important;
  color: black !important;
  border: 2px solid #f0f0f0 !important;
}

h2.text-center {
  margin-top: 50px;
  padding-top: 5px;
  border: 2px solid #17a2b8;
  border-radius: 5px;
}

hr {
  margin-bottom: 40px;
}

p a {
  color: #17a2b8;
}

.fa-linkedin,
.fa-behance,
.fa-envelope,
.fa-phone {
  color: #17a2b8;
}

section {
  margin-top: 20px;
}

.quien-soy {
  margin-top: 30px;
  font-family: "Montserrat", sans-serif;
}

.experiencia-laboral {
  margin-top: 50px;
  border: 2px solid #17a2b8;
  border-radius: 5px;
}

.empresa {
  font-weight: bold;
  margin-top: 50px;
  margin-left: 20px;
}

h3 {
  font-size: 20px;
}
.cargo-fechas {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  color: #666;
  margin-bottom: 10px;
  margin-left: 20px;
}

.experiencia ul {
  list-style: circle;
  margin-left: 20px;
}

li span {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
}
.educacion,
.certificaciones,
.habilidades {
  list-style: circle;
  text-align: left;
  margin-bottom: 20px;
  margin-top: 50px;
}

ul {
  margin-top: 30px;
  margin-left: 20px;
}
.educacion li,
.certificaciones li,
.habilidades li {
  margin: 5px 0;
}

.habilidades li i {
  color: #17a2b8;
}
.idioma {
  margin-top: 50px;
  margin-left: 50px;
}

.idioma span {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
}
