body {
  /* font-family: "Special Elite", cursive; */
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.navbar {
  padding: 1rem 0;
}

.navbar-brand {
  font-size: 1.5rem;
  margin-left: 30px;
  margin-top: 30px;
}
button.navbar-toggler {
  margin-right: 30px;
}

.navbar-nav .nav-item {
  margin: 0 0.5rem;
}

.navbar-nav .nav-link {
  font-size: 1rem;
  color: #333;
  transition: color 0.3s;
}

.navbar-nav .nav-link:hover {
  color: #17a2b8;
}
button.btn.btn-custom {
  margin-left: 30px;
  border: 2px solid #17a2b8;
  border-radius: 5px;
  color: #17a2b8;
  background-color: transparent;
  margin-top: 20px;
}

button.btn.btn-custom a {
  display: inline-block;
  text-decoration: none;
  color: #17a2b8;
  cursor: pointer;
    transition: transform 0.3s
}

button.btn.btn-custom a:hover {
  color: #333;
  transform: rotate(10deg);
}

.nombre {
  margin-bottom: 10px;
}

h1 {
  font-size: 50px;
  font-family: "Raleway", sans-serif;
  opacity: 0;
    transform: translateY(-20px);
    animation: titleFadeIn 1s forwards;
}

h2.titulo {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  background-color: #f0f0f0 !important;
  color: black !important;
  border: 2px solid #f0f0f0 !important;
  opacity: 0;
    transform: translateY(20px);
    animation: descriptionFadeIn 1s forwards 0.5s;
}
@keyframes titleFadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes descriptionFadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


h2.text-center {
  /* margin-top: 10px; */
  padding-top: 5px;
  border: 2px solid #17a2b8;
  border-radius: 5px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}

hr {
  margin-bottom: 40px;
}

p a {
  color: #17a2b8;
}

.fa-linkedin,
.fa-behance,
.fa-envelope,
.fa-phone {
  color: #17a2b8;

}


section {
  margin-top: 20px;
}

.quien-soy {
  margin-top: 20px;
  margin-bottom: 40px !important;
  font-family: "Montserrat", sans-serif;
}

.experiencia-laboral {
  margin-top: 20px;
  border: 2px solid #17a2b8;
  border-radius: 5px;
  font-family: "Raleway", sans-serif;
}

.empresa {
  font-weight: bold;
  margin-top: 20px;
  margin-left: 20px;
}

h3 {
  font-size: 20px;
}
.cargo-fechas {
  /* font-family: "Montserrat", sans-serif; */
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  color: #666;
  font-weight: bold;
  margin-bottom: 10px;
  margin-left: 20px;
}

.experiencia ul {
  list-style: circle;
  text-align: left;
  margin-left: 20px;
}

li span {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  color: #666;
}
.educacion,
.certificaciones,
.habilidades {
  list-style: circle;
  text-align: left;
  margin-bottom: 10px;
}

.educacion,
.certificaciones,
.habilidades ul {
  margin-top: 30px;
}
ul {
  margin-top: 30px;
  margin-left: 20px;
}


.habilidades li i {
  color: #17a2b8;
}
.idioma {
  margin-top: 30px;
  margin-left: 50px;
}

.idioma span {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  color: #666;
}

